.sidebar {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}
.createRoom {
  display: flex;
  align-self: flex-end;
  background-color: white;
}
.usersHolder {
  width: 100%;
}
